<ul class="nav" role="menu">
    {% assign topnav = site.data.menus.topnav | sort: "weight" %}
    {% for item in topnav %}
    <li>
        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
    </li>
    {% endfor %}
</ul>